#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: rgb(143, 226, 231);
  background-size: contain;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

.main-div {
  display: flex;
  justify-content: center;
}